*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: tahoma, Arial;
}

.container{
    width: 1000px;
    background-color: #f6f6f6;
    margin: auto;
}

@media (max-width: 767px){
    .container{
        width: 500px;
    }
}

.container .get-repos{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.container .get-repos input{
    width: 85%;
    padding: 20px 15px;
    height: 55px;
    line-height: 55px;
    border: none;
}

.container .get-repos input:focus{
    outline: 1px solid #f44336;
}

.container .get-repos input + button{
    border: none;
    width: 13%;
    text-align: center;
    line-height: 55px;
    font-weight: bold;
    background-color: #f44336;
    color: #fff;
    cursor: pointer;
}

.container #show-data{
    padding: 20px;
    background-color: #E0E0E0;
}

.container #show-data div{
    background-color: #EEE;
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container #show-data div p{
    width: 75%;
    font-size: 30px;
    font-weight: 400;
}

.container #show-data div a{
    width: 20%;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    background-color: #f44336;
    color: #fff;
    padding: 10px;
}